.wrapper {
  display: grid;
  grid-template: 'header header header' auto '. body .' 1fr 'footer footer footer' auto / auto 992px auto;
  gap: 0;
  min-height: 100vh;
}

.header {
  grid-area: header;
  background-color: var(--primary-light);

  display: flex;
  gap: 20px;

  padding: 10px;
}

.body {
  grid-area: body;
  padding: 15px;
}

.footer {
  grid-area: footer;
  background-color: var(--primary-light);

  padding: 10px;
}

@media (width <= 992px) {
  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas: 'header' 'body' 'footer';
    gap: 10px;
  }
}
